*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/tools/PicRouletteProKeygen/generated_codes.csv
/tools/PicRouletteProKeygen/picroulette_private_key.pem
.externalNativeBuild
.cxx
local.properties

# Android signing keys
keystore
*.jks
*.keystore
